<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558005981042-hj696fdfub7m6qq323rfcc0m0539tsup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558005981042-hj696fdfub7m6qq323rfcc0m0539tsup</string>
	<key>API_KEY</key>
	<string>AIzaSyB3a2w8Nuin5LSAqpF2F7xx-bCVPfkLtU4</string>
	<key>GCM_SENDER_ID</key>
	<string>558005981042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IgorKlyuzhev.Graduates</string>
	<key>PROJECT_ID</key>
	<string>graduates-4309e</string>
	<key>STORAGE_BUCKET</key>
	<string>graduates-4309e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558005981042:ios:1e742d345b116f05e2d7eb</string>
</dict>
</plist>